@import 'rosetta'
@import 'less'

body
  // Color picked up from Rosetta
  background: $colors-backgroundColor

h1
  // Color picked up from Rosetta
  background-color: $colorScheme-fourth
  font-style: italic
  border-radius: 200% 0% 200% 0%
